    @import url("https://fonts.googleapis.com/css?family=La+Belle+Aurore|Open+Sans");
     :root {
        --color--primary: rgb(242, 180, 80);
        --color-secondary: #382923;
        --color-accent: #E3B505;
        --color-body: #A9B2AC;
        --color-headings: #191919;
        --color-input: #BB9457;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'La Belle Aurore';
    }
    
    .navigation {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url("/coffie-junkie/images/headerBcg.jpeg");
        background-attachment: fixed;
        background-size: cover;
        background-position: 50% 50%;
    }
    
    .header {
        text-align: center;
    }
    
    .social-links {
        display: flex;
        justify-content: space-between;
        width: 30%;
        margin-right: 0.4rem;
        position: relative;
        bottom: 2%;
    }
    
    li {
        list-style-type: none;
    }
    
    .fa-brands {
        font-size: 1.3rem;
        border: 1px solid black;
        padding: 0.3rem;
        border-radius: 50%;
    }
    
    .fa-brands:hover {
        background-color: var(--color-accent);
        transition: 1.5s ease-in-out;
    }
    
    .fa-bars {
        position: fixed;
        font-size: 3rem;
        top: 2%;
        right: 5%;
        color: var(--color-input);
    }
    
    .main-title {
        font-size: 4rem;
        color: var(--color-accent);
    }