@import url("https://fonts.googleapis.com/css?family=La+Belle+Aurore|Open+Sans");
:root {
    --color--primary: rgb(242, 180, 80);
    --color-secondary: #382923;
    --color-accent: #E3B505;
    --color-body: #A9B2AC;
    --color-headings: #191919;
    --color-input: #BB9457;
    --color-placeholder: rgba(111, 87, 77, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'La Belle Aurore';
}

.navigation {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/coffie-junkie/images/headerBcg.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

.header {
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-right: 0.4rem;
    position: relative;
    bottom: 2.2%;
}

li {
    list-style-type: none;
}

.fa-brands {
    font-size: 1.3rem;
    border: 1px solid black;
    padding: 0.3rem;
    border-radius: 50%;
}

.fa-brands:hover {
    background-color: var(--color-accent);
    transition: 1.5s ease-in-out;
}

.fa-bars {
    position: fixed;
    font-size: 3rem;
    top: 2%;
    right: 5%;
    color: var(--color-input);
}

.main-title {
    font-size: 4rem;
    color: var(--color-accent);
}

.work-img {
    width: 100%;
    margin-top: 2rem;
}

.underline {
    width: 10%;
    height: 0.3rem;
    background-color: var(--color--primary);
    margin-top: 1rem;
}

.work-section {
    padding: 1.2rem;
    margin-top: 5rem;
}

.work-section p {
    font-family: 'Open Sans', sans-serif;
    color: var(--color-body);
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
}

.story-header {
    font-size: 3rem;
    margin-top: 1rem;
}

.form-section {
    padding: 5rem 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

::placeholder {
    font-family: 'Open Sans', sans-serif;
    color: var(--color-input);
}

.input {
    font-family: 'Open Sans', sans-serif;
    padding: 0.2rem 1rem;
    margin-top: 1rem;
    outline: none;
    border-radius: 0.5rem;
    border: 1px solid var(--color-secondary);
    background-color: var(--color-placeholder);
}

.btn {
    font-family: 'Open Sans', sans-serif;
    padding: 0.2rem 1rem;
    margin-top: 1rem;
    outline: none;
    border-radius: 0.5rem;
    border: 1px solid var(--color-secondary);
    background-color: var(--color--primary);
}

.form-header {
    font-size: 3rem;
    margin-top: 4rem;
    line-height: 6rem;
    color: var(--color-accent);
}

.img {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    object-fit: cover;
}

.image-section {
    padding: 0 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.img:hover {
    transform: scale(1.2);
}

.image-div {
    margin-top: 2rem;
}

.image-container {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
}

.underline.story {
    align-self: center;
}

@media screen and (min-width:768px) {
    .image-div {
        display: grid;
        grid-template-columns: repeat(4, 1fr)/repeat(4, 1fr);
        grid-template-areas: "one one two three" "one one four four" "five six seven seven" "eight nine seven seven";
        height: 100vh;
    }
    .image1 {
        grid-area: one;
    }
    .image2 {
        grid-area: two;
    }
    .image3 {
        grid-area: three;
    }
    .image4 {
        grid-area: four;
    }
    .image5 {
        grid-area: five;
    }
    .image6 {
        grid-area: six;
    }
    .image7 {
        grid-area: seven;
    }
    .image8 {
        grid-area: eight;
    }
    .image9 {
        grid-area: nine;
    }
}